body {
    background-color: white;
    text-align: center;
}
hr {
    border: 0;
    border-top: 1px solid rgb(15, 158, 238);
}
a {
    color: #2844FA;
    text-decoration: none;
}
a:active { color: #000; }

audio, video {
    border: 1px solid rgb(15, 158, 238); width: 50%;
}
button[disabled], input[disabled] { 
    background: rgba(216, 205, 205, 0.2); 
    border: 1px solid rgb(233, 224, 224);
}

.videos {
    display: inline-block;
    width: 24%;
}